.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top : 0;
    z-index: 100;
    background-color: white;
}

.site_name {
    height: 25px;
    font-size: xx-large;
    font-weight: 900;
}

.header_logo {
    height: 25px;
    object-fit: contain;
    margin-left: 20px;
}

.header_input {
    display: flex;
    align-items: center;
    width: 500px;
    border: 1px solid black;
}

.header_input > input {
    flex: 1;
    border: none;
    outline: none;
}

.header_icons {
    display: flex;
    align-items: center;
}

.header_input_button {
    width: 50px !important;
    background-color : #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
}

.header_icon {
    margin-right: 8px;
}

.header_link {
    margin-right: 20px;
    font-weight: 1000;
    color : black;
    font-size: large;
}

.header_link:hover {
  cursor: pointer;
  padding: 5px;
  border-bottom: 5px solid black;
}